image-figure {
    margin-left: 50px;
    height: 20px;
    margin-top: -30px;
}

label {
    color: whitesmoke;
    margin: auto;
}

h6 {
    color: whitesmoke;
    margin: auto;
}

@media screen and (max-width: 600px) {

    image-figure {
        margin: 0 15px;
        padding: 0;
    }

    .tmbl {
        position: relative;
        margin: 10px !important;
        width: 0 !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        font-size: 0 !important;
    }

    label {
        font-size: 0;
    }

    .mapul {
        padding-top: 60px;
    }


}